@model BestsellerVM
<div class="row">
    <div style="display:flex;justify-content:center" class="col-lg-3">
        <div style="height: 80px; -webkit-box-shadow: 5px 2px 15px -4px rgba(0,0,0,0.86); box-shadow: 5px 2px 15px -4px rgba(0,0,0,0.86); background-color: white; padding: 10px; display: flex; justify-content: space-around; align-items: center" class="col-lg-9">
            <div class="cardHeader">


                <i style="font-size:35px;color:red" class="fa-solid fa-bag-shopping"></i>

            </div>
            <div class="cardBody">
                <p style="margin:0 !important">Daily Order</p>
                <p id="dailyorder" style="margin:0 !important">5</p>


            </div>
        </div>



    </div>
    <div style="display:flex;justify-content:center" class="col-lg-3">

        <div style="height: 80px; -webkit-box-shadow: 5px 2px 15px -4px rgba(0,0,0,0.86); box-shadow: 5px 2px 15px -4px rgba(0,0,0,0.86); background-color: white; padding: 10px; display: flex; justify-content: space-around; align-items: center " class="col-lg-9">
            <div class="cardHeader">
                @*<i  class="typcn typcn-shopping-bag">

                    </i>*@
                <i style="font-size: 35px; color: purple" class="fa-solid fa-wallet"></i>


            </div>

            <div class="cardBody">
                <p style="margin:0 !important">Daily Revenue</p>
                <p id="dailyrevenue" style="margin:0 !important">5</p>


            </div>
        </div>

    </div>

    <div style="display:flex;justify-content:center" class="col-lg-3">

        <div style="height: 80px; -webkit-box-shadow: 5px 2px 15px -4px rgba(0,0,0,0.86); box-shadow: 5px 2px 15px -4px rgba(0,0,0,0.86); background-color: white; padding: 10px; display: flex; justify-content: space-around; align-items: center " class="col-lg-9">
            <div class="cardHeader">
                @*<i  class="typcn typcn-shopping-bag">

                    </i>*@
                <i style="font-size: 35px; color: orange" class="fa-solid fa-clock"></i>


            </div>

            <div class="cardBody">
                <p style="margin:0 !important">Pending Orders</p>
                <p id="pendingcount" style="margin:0 !important">5</p>


            </div>
        </div>

    </div>
    <div style="display:flex;justify-content:center" class="col-lg-3">
        <div style="height: 80px; -webkit-box-shadow: 5px 2px 15px -4px rgba(0,0,0,0.86); box-shadow: 5px 2px 15px -4px rgba(0,0,0,0.86); background-color: white; padding: 10px; display: flex; justify-content: space-around; align-items: center " class="col-lg-9">
            <div class="cardHeader">

                <i style="font-size:35px;color:green" class="fa-solid fa-sack-dollar"></i>

            </div>

            <div class="cardBody">
                <p style="margin:0 !important">Monthly Revenue</p>
                <p id="monthlyrevenue" style="margin:0 !important">5</p>


            </div>
        </div>



    </div>


</div>
<div class="row" style="justify-content:space-between">
    <div class="col-lg-4" style="margin-top: 30px;  box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.86)">
        <h5 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0 !important"> Sales By Product Gender:</h5>
        <div id="chartGender">

        </div>

    </div>

    <div class="col-lg-4" style="margin-top: 30px;  box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.86)">
        <h5 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0 !important"> Sales By Brands:</h5>
        <div id="chartBrand">

        </div>

    </div>

    @*<div class="col-lg-4" id="bestSellerCol">*@
    @*<div class="card" style="width: 18rem;margin-top:30px;height:300px">*@
    @*<img style="height:200px ; object-fit:cover" src="~/assets/images/products/@Model.Daily.MainImage" class="card-img-top" alt="...">
        <div style="padding-bottom:0px !important" class="card-body">
            <h5 class="card-title">Daily best seller</h5>
            <p>@Model.Daily.Product.Name</p>
        </div>
        <ul class="list-group list-group-flush">
            <li style="padding-top:0px !important;padding-bottom:0px !important" class="list-group-item">Daily sale count : @Model.Daily.DailySoldCount</li>

            <li style="padding-top:0px !important;padding-bottom:0px !important" class="list-group-item">Brand : @Model.Daily.Product.Brand.Name</li>
            <li style="padding-top:0px !important;padding-bottom:0px !important" class="list-group-item">Size : @Model.Daily.Size.Name</li>
            <li style="padding-top:0px !important;padding-bottom:0px !important" class="list-group-item">Color : @Model.Daily.Color.Name</li>

            <li style="padding-top:0px !important;padding-bottom:0px !important" class="list-group-item">Revenue : @(String.Format("{0:0.00}", ViewBag.daily)) $</li>
        </ul>*@
    @*<div class="cardTop">
            <h3>Today`s best seller</h3>
            <p>Revenue : $@(String.Format("{0:0.00}",ViewBag.Daily))</p>
        </div>
        <div class="cardBottom">
            <h3>@Model.Daily.Product.Name</h3>
            <div style="display:flex;justify-content:space-between" class="spans">
                <span>Brand : @Model.Daily.Product.Brand.Name</span>
                <span>Size : @Model.Daily.Size.Name</span>
                <span>Color : @Model.Daily.Color.Name</span>

            </div>
        </div>*@
    @*</div>*@
    @*</div>*@

    <div class="col-lg-4 dailySellerDiv" style="padding:18px;background-color: #5f27cd; margin-top: 30px; box-shadow: 5px 2px 15px -4px rgba(0,0,0,0.86); height: max-content ">
        <div class="cardTop" style="position:relative">
            <button data-toggle="modal" data-target="#forImage" type="button" class="btn btn-primary" style="background-color: #5f27cd; position: absolute; background-color: #5f27cd; /* bottom: 0; */ top: 57%; right: 3%; "><i class="fas fa-opencart"></i></button>
            <img style="height:200px ; object-fit:cover" src="~/assets/images/products/@Model.Daily.MainImage" class="card-img-top" alt="...">

            <h3 style="color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin:0 !important">Today`s best seller</h3>
            <p style="margin:0 !important; color: white; font-family: 'Segoe UI' , Tahoma, Geneva, Verdana, sans-serif" ;margin:0 !important">Sold count : @Model.Daily.DailySoldCount</p>

            <p style="margin:0 !important; color: white; font-family: 'Segoe UI' , Tahoma, Geneva, Verdana, sans-serif" ;>Revenue : $@(String.Format("{0:0.00}",ViewBag.Daily))</p>
        </div>
        <div class="cardBottom">
            <h3 style="color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin:0 !important">@Model.Daily.Product.Name</h3>
            <div style="display:flex;justify-content:space-between;" class="spans">
                <span style="color:white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Brand : @Model.Daily.Product.Brand.Name</span>
                <span style="color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Size : @Model.Daily.Size.Name</span>
                <span style="color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ">Color : @Model.Daily.Color.Name</span>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="forImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
           <img style="height:550px;object-fit:cover" src="~/assets/images/products/@Model.Daily.MainImage" />
        </div>
    </div>
</div>

@section Scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script>
        $(document).ready(function () {
            var base = window.location.origin;
            var url = `${base}/admin/order/dailycount`
            var pending = `${base}/admin/order/pendingcount`
            var dlyrevenue = `${base}/admin/order/dailyrevenue`
            var monthrevenue = `${base}/admin/order/monthlyrevenue`
            var mancount = `${base}/admin/order/orderedman`
            var womancount = `${base}/admin/order/orderedwoman`
            var brandsaling = `${base}/admin/order/brandtest`
            var orderedwoman;
            var orderedman;


            fetch(url).then(res => res.text()).then(data => {
                $("#dailyorder").empty();
                $("#dailyorder").append(data)

            })
            fetch(pending).then(res => res.text()).then(data => {
                $("#pendingcount").empty();
                $("#pendingcount").append(data)

            })
            fetch(dlyrevenue).then(res => res.text()).then(data => {
                $("#dailyrevenue").empty();
                var nrml = parseFloat(data).toFixed(2);
                $("#dailyrevenue").append(`${nrml} $`)

            })
            fetch(monthrevenue).then(res => res.text()).then(data => {
                $("#monthlyrevenue").empty();
                var nrml = parseInt(data).toFixed(2);
                $("#monthlyrevenue").append(`${nrml} $`)

            })

            fetch(womancount).then(res => res.text()).then(woman => {
                fetch(mancount).then(res => res.text()).then(man => {
                    new Morris.Donut({

                        element: 'chartGender',


                        data: [

                            { label: "Sales man", value: man },
                            { label: "Sales woman", value: woman }

                        ],
                        colors: ['#0652DD', '#6F1E51']

                    })
                })

            })

            var morrisdata = [];

            fetch(brandsaling).then(res => res.json()).then(data => {
                data.map(c => {

                    morrisdata.push({ label: c.brand, value: c.count });


                })

                console.log(morrisdata)
                new Morris.Donut({

                    element: 'chartBrand',


                    data: morrisdata,
                    colors: ['#0652DD', '#6F1E51', '#c0392b', '#27ae60','#e67e22', '#16a085', '#f1c40f','#e67e22']
                    

                })


                //colors: ['#0652DD', '#6F1E51']
                //console.log(data.brand)
            })



        })



    </script>





}


@section Styles{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


}